@CHARSET "UTF-8";

.faq .faqBody .article .q {
	width: 100%;
	border-collapse: separate;
	border-spacing: 1px;
	text-align: left;
	line-height: 1.5;
	/* border: 1px solid red; */
	margin: 20px 10px;
	font-size: 15px;

}

.q {
	
	position: relative;
	width: 980px;
	padding: 30px 20px 30px 70px;
	font-size: 15px;
	line-height: 22px;
	color: #666;
	line-button: 20px;
	border-bottom: 1px solid #dedede;
}

.a {    

    padding: 30px 20px 30px 70px;
    background: #ffffff;
    font-size: 15px;
    line-height: 22px;
    color: #666;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-bottom: 1px solid #dedede;
}

.faq .A{
	font-size: 30px;

    left: 20px;
    top: 30px;
    font-family: 'linlivertine';
    font-style: italic;
    font-weight: bold;
    color: #e01e27;

}

.boardBt {
	min-width: 50px;
	text-align: center;
	height: 28px;
	border: 0;
	background: #231f20;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

.goods input[type="text"] {

	height: 30px;
	padding: 0 10px;
	border: none;
	font-size: 20px;
	color: #666;
	line-height: 30px;
	background: #fff;

}
.cs_center .tabCont faqTabCont .faqTop .qTit .num {
    width: 100%;
    margin-bottom: 50px;
    border-bottom: 1px solid #c0c0c0;
    border-top: 1px solid #c0c0c0;

}
