@charset "UTF-8";

body {
	font-size: 12px;
	font-family: "나눔 고딕", 'Nanum Gothic', 'ng';
	font-weight: 400;
	color: #555;
	line-height: 1;
}

.mem_tit {
	margin: 30px 0 16px;
	font-size: 18px;
	color: #231f20;
	font-weight: bold;
}

.titYtxt span {
	float: right;
	display: inline-block;
	padding-top: 3px;
	color: #777;
	font-size: 13px;
}

.titYtxt span strong {
	color: #cd190b;
}

.board_view>table {
	width: 100%;
	border-top: 2px solid #503396;
}

.board_view>table tr th {
	font-size: 13px;
	color: #666;
	background-color: #f2f2f2;
}

.board_view>table tr th, .board_view>table tr td {
	font-size: 12px;
	height: 38px;
	color: #333;
	border-bottom: 1px solid #dcdcdc;
	padding-left: 26px;
	padding-right: 29px;
}

.reply_cts p {
	font-size: 12px;
	height: 38px;
	color: #333;
	border-bottom: 1px solid #dcdcdc;
	padding-left: 26px;
	padding-right: 29px;
}

.img_btn.mypage.board_list {
	display: inline-block;
	width: 60px;
	height: 22px;
	background-position: -500px -500px;
}

.cs_center .info_etxt strong {
	display: block;
	padding-bottom: 10px;
	font-size: 14px;
	color: #231f20;
}

.cs_center .info_etxt {
	padding-bottom: 40px;
	font-size: 13px;
	color: #777;
}

.titYtxt {
	overflow: hidden;
}

.agree_box {
	height: 167px;
	margin-bottom: 0;
	padding: 20px;
	border: 1px solid #dedede;
	overflow-y: auto;
	background: #f9f6ec;
	font-size: 14px;
	color: #666;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.agree_box>strong:first-child {
	margin-top: 0;
}

.agree_box>strong {
	margin: 45px 0 15px;
	color: #231f20;
}

.agree_box>strong {
	margin: 45px 0 15px;
	color: #231f20;
}

.agree_box p {
	line-height: 24px;
	margin-bottom: 10px;
}

.radck {
	overflow: hidden;
	padding: 10px 0 50px 10px;
}

input {
	margin: 0;
	padding: 0;
}

input, select, textarea {
	font-size: 12px;
	font-family: 'NanumGothic';
	color: #555;
	vertical-align: middle;
}

.tbl_style01 th, .tbl_style01 td {
	border-bottom: 1px solid #dedede;
	word-break: break-all;
}

.tbl_style01 th {
	padding: 10px 0 10px 20px;
	height: 30px;
	/* background: url('/movie/src/main/webapp/images/bg/bg_tab_line.gif')
		no-repeat 100% 23px; */
	line-height: 40px;
	/* vertical-align: top; */
	text-align: left;
	color: #231f20;
	font-weight: bold;
}

.point_red {
	color: #cd190b !important;
}

.btn_fileBx input {
	position: absolute;
	top: 0;
	right: 0;
	width: 300px;
	height: 35px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity = 0);
	opacity: 0;
	-moz-opacity: 0;
	font-size: 30px;
}

.tbl_qnast03 {
	width: 100%;
	border-top: 1px solid #c0c0c0;
	font-size: 13px;
	color: #231f20;
	text-align: center;
	line-height: 18px;
	table-layout: fixed;
}

.tbl_qnast03 th {
	padding: 14px 0 13px;
	border-bottom: 1px solid #c0c0c0;
	border-top: 1px solid #c0c0c0;
	background: url(/LCHS/Image/Bg/bg_tab_line.gif) no-repeat left center;
	vertical-align: middle;
}

.tbl_qnast03 td {
	padding: 15px 10px;
	border-bottom: 1px solid #dedede;
	color: #666;
	vertical-align: middle;
}

.tbl_style01 .co {
	border-top: 1px solid #ffffff;
} 

.tbl_style01 .coco {
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #dedede;
}


.tbl_style01 .do {
	word-break: break-all;
}

.co6 .dodo{
	height: 35px;
	line-height: 27px;
	padding: 0 10px;
	background: #9b9c9c;
	border: 1px solid #919191;
	color: #fff;
	border-radius: 5px;
}

.co4 .dodos{
	height: 35px;
	line-height: 27px;
	padding: 0 10px;
	background: #9b9c9c;
	border: 1px solid #919191;
	color: #fff;
	border-radius: 5px;
	font-size: 14px;
}

.tbl_style01 .kj{
	border-bottom: 1px solid #dedede;
	word-break: break-all;
	padding: 10px 10px 20px;
}

.tbl_style01 .kj input[type="file"] {
	padding: 10px 10px 0 20px;
	
}

.btn_type_033 button, input[type="button"]{
    background: #9b9c9c;
    border: 1px solid #919191;
    color: #fff;
    border-radius: 5px;
    height: 29px;
    line-height: 27px;
    text-shadow: none;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
}

.tbl_style01 .co2 {
	border-bottom: 1px solid #dedede;
	border-top: 1px solid #ffffff;
}

.tbl_style01 .co3 {
	border-top: 1px solid #ffffff;
	
}

.tbl_style01 .co4 {
	border-top: 1px solid #ffffff;
	
}

.tbl_style01 .co5 {
	border-top: 1px solid #dedede;
	
}

.tbl_style01 .co6 {
	border-top: 1px solid #ffffff;
	
}

.btn_type_034{
	margin-top: 20px;
    text-align: center;
    font-size: 0;
    padding-left: 10px;

}

.btn_type_034 .btn btnC_03 btnP_04 mr10,input[type="button"]{
    height: 29px;
    line-height: 27px;
    padding: 0 10px;
    text-shadow: none;
    font-size: 14px;
    text-align: center;
    
}

.btn_type_035 .momo , input[type="button"]{
	height: 29px;
	line-height: 27px;
	padding: 0 10px;
	font-size: 14px;
	text-align: center;
}