@charset "UTF-8";

body {
    font-size: 12px;
    font-family: "나눔 고딕", 'Nanum Gothic', 'ng';
    font-weight: 400;
    color: #555;
    line-height: 1;
}

.mem_tit {
    margin: 30px 0 16px;
    font-size: 18px;
    color: #231f20;
    font-weight: bold;
}

.titYtxt span {
    float: right;
    display: inline-block;
    padding-top: 3px;
    color: #777;
    font-size: 13px;
}

.titYtxt span strong {
    color: #cd190b;
}

.board_view>table {
    width: 100%;
    border-top: 2px solid #503396;
}

.board_view>table tr th {
    font-size: 13px;
    color: #666;
    background-color: #f2f2f2;
}

.board_view>table tr th, .board_view>table tr td {
    font-size: 12px;
    height: 38px;
    color: #333;
    border-bottom: 1px solid #dcdcdc;
    padding-left: 26px;
    padding-right: 29px;
}

th {
    text-align: left;
}

.reply_cts p {
    font-size: 12px;
    height: 38px;
    color: #333;
    border-bottom: 1px solid #dcdcdc;
    padding-left: 26px;
    padding-right: 29px;
}

.img_btn.mypage.board_list {
    display: inline-block;
    width: 60px;
    height: 22px;
    background-position: -500px -500px;
}